body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "franklin-gothic-urw", serif; }

/* ungrid.css (97 bytes minified) */
@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }
  .col {
    display: table-cell; } }

#bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1; }

body {
  background: url(../img/6a.jpg);
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

p, .email-address {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.col {
  vertical-align: middle; }

.col-container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.row {
  border-spacing: 0px; }

.standard-btn {
  padding: 6px 10px;
  color: #333;
  font-family: "franklin-gothic-urw", serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  border: 1px solid #333;
  border-radius: 4px;
  display: inline-block;
  letter-spacing: 2px;
  opacity: 0.3;
  transition: opacity 0.3s; }
  .standard-btn:hover {
    cursor: pointer;
    opacity: 1; }

.go-back-btn {
  position: absolute;
  top: -56px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s background; }
  .go-back-btn:hover {
    background: #ddd; }
  .go-back-btn .back-icon {
    margin-right: 4px;
    font-size: 16px; }

nav {
  color: #333;
  padding-left: 40px;
  width: 40%; }
  nav h1 {
    font-size: 22px;
    font-family: "franklin-gothic-urw", serif;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 400; }
  nav h2, nav h3 {
    font-family: "leitura-news", serif;
    font-size: 15px;
    font-weight: 100; }
  nav h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px; }
  nav h3 {
    font-style: italic; }
  nav .indicator-line {
    width: 20%;
    position: relative;
    height: 1px;
    background: #333;
    margin: 20px 0px; }
    nav .indicator-line .loading-circle {
      width: 13px;
      height: 13px;
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid #333;
      position: absolute;
      right: -7px;
      top: -7px;
      background: #fff;
      -ms-transform-origin: center center;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0); }
      nav .indicator-line .loading-circle span {
        position: relative;
        background: #ccc;
        top: 13px;
        width: 100%;
        display: block;
        height: 100%;
        opacity: 1; }
    nav .indicator-line .arrow-line {
      height: 1px;
      background: #333;
      width: 10px;
      position: absolute;
      right: 0px; }
    nav .indicator-line .arrow-line-top {
      -ms-transform-origin: right bottom;
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom; }
    nav .indicator-line .arrow-line-bottom {
      -ms-transform-origin: right top;
      -webkit-transform-origin: right top;
      transform-origin: right top; }
  nav ul {
    list-style: none; }
    nav ul li {
      margin-bottom: 14px;
      position: relative;
      opacity: 0;
      visibility: hidden; }
      nav ul li .menu-circle {
        position: absolute;
        font-size: 8px;
        left: -15px;
        top: 3px;
        opacity: 0;
        transition: 0.5s opacity; }
      nav ul li .active-nav-link {
        opacity: 1 !important; }
        nav ul li .active-nav-link:hover {
          cursor: default !important;
          border-color: rgba(30, 30, 30, 0.1) !important; }
      nav ul li a {
        font-size: 15px;
        letter-spacing: 2px;
        opacity: 0.5;
        font-weight: 100;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        padding-bottom: 1px;
        border-bottom: 1px solid rgba(30, 30, 30, 0.1);
        transition: border-color 0.3s, opacity 0.3s; }
        nav ul li a:hover {
          opacity: 1;
          border-color: #323232; }

.middle-col {
  width: 1px;
  height: 100%;
  -ms-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  position: absolute;
  left: -12px; }

.second-col {
  position: relative;
  height: auto; }

#ajax-content {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: auto;
  min-height: 100px; }

.work-list {
  padding-left: 30px;
  width: 100%;
  height: auto;
  position: relative; }

.work-item .work-visible-section {
  position: relative;
  opacity: 0.8;
  transition: 0.3 opacity;
  max-width: 200px;
  overflow: hidden; }
  .work-item .work-visible-section:hover {
    opacity: 1;
    cursor: pointer; }
  .work-item .work-visible-section h1, .work-item .work-visible-section h2 {
    color: #333; }
  .work-item .work-visible-section h1 {
    font-family: "franklin-gothic-urw", serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 6px; }
  .work-item .work-visible-section h2 {
    font-family: "leitura-news", serif;
    font-size: 15px;
    font-weight: 100;
    font-style: italic; }
  .work-item .work-visible-section .line-break {
    height: 1px;
    width: 60px;
    background: #333;
    display: block;
    margin: 24px 0px; }

.work-item .media-container {
  width: 90%;
  height: 300px;
  border: 1px solid #333;
  margin: 24px 0px 12px 0px;
  background-size: contain !important; }
  .work-item .media-container .video-container {
    width: 100%;
    height: 100%; }

.work-item .media-info {
  width: 90%;
  border-spacing: 0px;
  height: 30px;
  position: relative; }
  .work-item .media-info .thumbnail-list {
    color: #333;
    width: 80%; }
    .work-item .media-info .thumbnail-list li {
      display: inline-block;
      margin-right: 10px; }
    .work-item .media-info .thumbnail-list li.img-thumbnail {
      height: 30px;
      width: 30px;
      border: 1px solid #333;
      opacity: 0.5;
      transition: opacity 0.3s;
      background-size: cover !important; }
      .work-item .media-info .thumbnail-list li.img-thumbnail:hover {
        cursor: pointer;
        opacity: 1; }
    .work-item .media-info .thumbnail-list li.img-thumbnail-hover {
      position: relative;
      top: -10px;
      left: 0px;
      opacity: 0; }
    .work-item .media-info .thumbnail-list .active-thumbnail {
      opacity: 1 !important; }
  .work-item .media-info .image-title {
    color: #333;
    text-align: right;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    font-weight: 100;
    display: block; }

.work-item .project-text {
  width: 90%;
  padding: 30px 0px 0px 0px; }
  .work-item .project-text p {
    color: #333;
    font-size: 16px;
    font-family: "franklin-gothic-urw", serif;
    line-height: 22px;
    margin-bottom: 10px; }

.work-hidden-section {
  height: 0px;
  overflow: hidden; }

#e1 {
  height: auto;
  overflow: visible; }

#everlane-media {
  background: url(../img/4.jpg); }

#everlane-list li:first-child {
  background: url(../img/1.jpg); }

#everlane-list li:nth-child(2) {
  background: url(../img/2.jpg); }

#everlane-list li:nth-child(3) {
  background: url(../img/3.jpg); }

#everlane-list li:nth-child(4) {
  background: url(../img/4.jpg); }

#everlane-list li:nth-child(5) {
  background: url(../img/1.jpg); }

.bio-info-col {
  vertical-align: middle !important; }

.bio-info {
  margin-bottom: 20px;
  border-spacing: 0px;
  max-width: 500px; }
  .bio-info .col-pic {
    width: 200px; }
  .bio-info .profile-pic {
    width: 200px;
    height: 200px;
    background: url(../img/profile.jpg);
    border-radius: 8px;
    background-size: cover;
    display: inline-block;
    position: relative;
    overflow: hidden; }
    .bio-info .profile-pic .profile-back-btn {
      visibility: hidden;
      position: absolute;
      left: -30px;
      top: 6px;
      border: 1px solid rgba(255, 255, 255, 0);
      height: 24px;
      width: 24px;
      border-radius: 20px;
      line-height: 26px;
      font-size: 12px;
      display: inline-block;
      text-align: center;
      transition: border-color 0.3s, color 0.3s; }
      .bio-info .profile-pic .profile-back-btn:hover {
        border-color: white;
        cursor: pointer; }
  .bio-info .bio-btn-list {
    list-style: none;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
    padding-left: 20px; }
    .bio-info .bio-btn-list li:last-child {
      margin-bottom: 0px !important; }
    .bio-info .bio-btn-list li {
      text-align: left;
      margin: 0px;
      padding: 0px;
      height: 28px;
      line-height: 28px;
      text-indent: 0px;
      border: 1px solid #ccc;
      border-radius: 6px;
      margin-bottom: 10px;
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: left;
      clear: both;
      background: #fff; }
    .bio-info .bio-btn-list .btn-li .btn-text {
      position: relative;
      top: -2px; }
    .bio-info .bio-btn-list .btn-cv .btn-text {
      position: relative;
      top: -2px; }
    .bio-info .bio-btn-list .email-address {
      text-align: left !important; }
    .bio-info .bio-btn-list .btn-text {
      padding: 0px 20px;
      display: inline-block; }
      .bio-info .bio-btn-list .btn-text:hover {
        cursor: pointer; }
    .bio-info .bio-btn-list .hidden-btn {
      transform-origin: center left;
      display: inline-block;
      right: 0px;
      top: 0px;
      text-align: center;
      padding: 0px 20px;
      box-sizing: border-box !important;
      border-left: 1px solid #ccc;
      color: #333;
      opacity: 0.4;
      height: 28px; }
    .bio-info .bio-btn-list .fa-external-link {
      color: #333;
      position: relative;
      text-align: center;
      line-height: 28px;
      transition: 0.3s background; }
      .bio-info .bio-btn-list .fa-external-link:hover {
        background: #eee; }

.bio-copy {
  font-family: "franklin-gothic-urw", serif;
  font-size: 16px;
  line-height: 22px;
  max-width: 600px;
  margin: 0px;
  padding: 0px; }
  .bio-copy .giants-link {
    color: #FF9825;
    border-bottom: 1px solid #FF9825;
    padding-bottom: 0px;
    transition: 0.3s color, 0.3s border-color;
    position: relative;
    display: inline; }
    .bio-copy .giants-link:hover {
      cursor: pointer;
      color: #EF6A1D;
      border-color: #EF6A1D; }

.section-title {
  font-size: 22px;
  font-family: "franklin-gothic-urw", serif;
  margin-bottom: 20px; }

.menu-btn {
  width: 100px;
  overflow: hidden;
  margin-bottom: 14px;
  position: relative;
  border-radius: 2px;
  opacity: 0.4;
  transition: opacity 0.3s; }
  .menu-btn .menu-text {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    height: 32px;
    line-height: 32px;
    position: relative;
    top: 2px; }
  .menu-btn .menu-icon {
    width: 14px;
    height: 14px;
    top: 7px;
    display: inline-block;
    position: absolute;
    right: 38px;
    line-height: 0px; }
    .menu-btn .menu-icon .menu-line {
      height: 1px;
      width: 100%;
      background: #333;
      display: inline-block;
      position: relative; }
    .menu-btn .menu-icon .top-line, .menu-btn .menu-icon .bottom-line {
      -ms-transform-origin: left center;
      -webkit-transform-origin: left center;
      transform-origin: left center; }
  .menu-btn:hover {
    cursor: pointer;
    opacity: 1; }

.active-menu-btn {
  opacity: 1; }
